body{
    background-color: rgb(7, 8, 14);
    color: white;
    /* margin: 10px solid  rgb(7, 8, 14);*/
    margin: 0%;
} 

input{
    background-color: rgb(7, 8, 14);
    margin-left: 10%;
    width: 40%;
    margin-top: 3%;
}
.card{
    background-color: rgb(7, 8, 14);
    /* border-radius: 20px; */
    border-color: blue;
    margin: 10px;
    height: 25vh;
    width: 45%;

}
img{
    border-radius: 50%;
    width:70%;
    margin-bottom: 10%;
    margin-left: 9%;

}
.fol{
    display: flex;
}
#folo{
    margin-left: 10%;
}
h2,h1{
    margin-left: 27%;
    /* text-align: center; */
}
p{
    margin-left: 4%;
    /* text-align: center; */
}
a{
    text-decoration: none;
}
.nav{
    margin-bottom: 10%;
    padding-top: 2%;
}
#reps{
    margin-left: 20%;
}
span{
    color:  blue;
  
}
#head{
    text-align: left;
    margin-right: 5%;
    margin-left: 10%;

}
#space{
    margin-right: 4%;
    /* margin-top:2%; */
}
#form{
    margin-left: 20%;
}